name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Cache NuGet packages
        uses: actions/cache@v5
        id: cache
        with:
          path: packages
          key: ${{ hashFiles('packages.config') }}

      - name: MSBuild
        run: |
          if ("${{ steps.cache.outputs.cache-hit }}" -ne "true") { nuget restore }
          MSBuild ".\WU Killer.csproj" -property:Configuration=Debug
          Write-Output "commit=$("${{ github.sha }}".Substring(0,7))" | Out-File -FilePath $Env:GITHUB_ENV -Encoding UTF8 -Append

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: WU_Killer@${{ env.commit }}
          path: bin\Debug\WU Killer.exe
          if-no-files-found: error
